*  {
  box-sizing: border-box;
}

.button1 {
  width: 190px;
  display: inline-block;
  background-color: #123ecf;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  transition: width 0.3s ease-in-out;
  transition: background-color 1s ease;
}

.button1:hover{
  width: 260px;
  background-color: #002398;
}