* {
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 320px;
  position: relative;

}

.base {
  width: 200px;
  height: 200px;
  border: 2px dashed #aaaaaa;
  border-radius: 10px;
  background-color: #dddddd;
}

.target {
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 255, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid blue;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.target span {
  color: #ffffff;
}


.target1 {
  transform: translate(50%, 20px) rotate(45deg);
}

.target2 {
  transform: rotate(75deg) translateY(120px);
}

.target3 {
  transform: skew(30deg, 10deg) rotate(45deg);
}

.target4 {
  transform: scaleY(0.75) skew(20deg, 0deg);
}